
body {
  background-image: url('./assets/background.png');
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  font-family: Futura, sans-serif;
  
}
